<h2 class="mat-h2">Clusters</h2>

<mat-form-field>
  <mat-label>Select a week</mat-label>
  <mat-select [(value)]="week" (valueChange)="weekSelected()">
    <mat-option *ngFor="let aWeek of weeks" value="{{aWeek}}">{{aWeek}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-app-background basic-container">

  <table *ngIf="week!=null" style="margin-top: 30px" mat-table [dataSource]="clusters" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell class="table-cell" *matCellDef="let cluster" (click)="viewCluster(cluster)">
        {{cluster.name != null ? cluster.name : "{without name}" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef>Week</th>
      <td mat-cell class="table-cell" *matCellDef="let cluster" (click)="viewCluster(cluster)">
        {{cluster.week}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>

